<% layout('layout') -%>
<div class="side-nav left-content">
    <div class="content">
        <h2>News Feed</h2>
        <ul class="sources">
            <li><a href="/reader?source=google-news">Google News</a></li>
            <li><a href="/reader?source=coolztricks">Coolztricks</a></li>
            <li><a href="/reader?source=earticleblog">Earticleblog</a></li> 
            <li><a href="/reader?source=desidime">Desidime</a></li> 
        </ul>
    </div>
</div>
<div class ="right-content new-list">
   <div class="basic-info">Latest Headlines - <%= source %></div>

    <% if(true) { %>
           <% newsData.items.forEach(function(item) { %>
        <div class="content-wrapper clearfix">
               <div class="news">
                    <div class="title"><%=item.title  %></div>
                    <div class="desc">      
                  
                        <span><%= item.pubDate %></span>
                    </div>
                    <div class="actions">
                    <a href="<%= item.link %>"  target= "_blank"><button class="btn">Visit Page</button></a>
                    </div>
               </div>
            <% if( typeof item.thumbnail != "undefined") {%>
               <div class="img"><img src="<%= item.thumbnail %>" width="150px" style = "max-width:150px " /></div>
            <% } %>
        </div>
          <% }) %>
    <% }  %>
</div>